@import '../../styles/main.scss';

.controlsContainer{
    width: 100%;
    height: 60px;
    background-color: $black;
    transition: .3s ease-in-out all;
    overflow: hidden;
    position: relative;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 0 20px;

    &.open{
        height: 250px;
    }

    .btn{
        width: 150px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background-color: $blue2;
        color: $grey;
        border-radius: 5px;
        margin-right: 10px;
        font-family: 'Staatliches', cursive;
        font-size: 20px;
        cursor: pointer;
        border: 1px solid $blue4;
        transition: .3s ease-out all;

        &:hover{
            border: 1px solid $grey;
        }

        &.inactive{
            pointer-events: none;
            opacity: .6;
        }
    }

    .topRow{
        width: 100%;
        min-height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .buttons{
            display: flex;
        }

        .searchBtn{
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background-color: $blue2;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $blue4;
            transition: .3s ease-out all;
            cursor: pointer;

            img{
                height: 25px;
            }

            &:hover{
                border: 1px solid $grey;
            }
        }
    }
    
    .bottomRow{
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        height: 200px;

        p{
            color: $grey;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 5px;
            font-size: 12px;
            font-weight: 300;
        }
    }
}